div.code pre  { background: #ffffff; }
div.code pre .c { color: #008800; font-style: italic } /* Comment */
div.code pre .err { color: #a61717; background-color: #e3d2d2 } /* Error */
div.code pre .k { color: #000080; font-weight: bold } /* Keyword */
div.code pre .cm { color: #008800; font-style: italic } /* Comment.Multiline */
div.code pre .cp { color: #008080 } /* Comment.Preproc */
div.code pre .c1 { color: #008800; font-style: italic } /* Comment.Single */
div.code pre .cs { color: #008800; font-weight: bold } /* Comment.Special */
div.code pre .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
div.code pre .ge { font-style: italic } /* Generic.Emph */
div.code pre .gr { color: #aa0000 } /* Generic.Error */
div.code pre .gh { color: #999999 } /* Generic.Heading */
div.code pre .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
div.code pre .go { color: #888888 } /* Generic.Output */
div.code pre .gp { color: #555555 } /* Generic.Prompt */
div.code pre .gs { font-weight: bold } /* Generic.Strong */
div.code pre .gu { color: #aaaaaa } /* Generic.Subheading */
div.code pre .gt { color: #aa0000 } /* Generic.Traceback */
div.code pre .kc { color: #000080; font-weight: bold } /* Keyword.Constant */
div.code pre .kd { color: #000080; font-weight: bold } /* Keyword.Declaration */
div.code pre .kp { color: #000080; font-weight: bold } /* Keyword.Pseudo */
div.code pre .kr { color: #000080; font-weight: bold } /* Keyword.Reserved */
div.code pre .kt { color: #000080; font-weight: bold } /* Keyword.Type */
div.code pre .m { color: #0000FF } /* Literal.Number */
div.code pre .s { color: #0000FF } /* Literal.String */
div.code pre .na { color: #FF0000 } /* Name.Attribute */
div.code pre .nt { color: #000080; font-weight: bold } /* Name.Tag */
div.code pre .ow { font-weight: bold } /* Operator.Word */
div.code pre .w { color: #bbbbbb } /* Text.Whitespace */
div.code pre .mf { color: #0000FF } /* Literal.Number.Float */
div.code pre .mh { color: #0000FF } /* Literal.Number.Hex */
div.code pre .mi { color: #0000FF } /* Literal.Number.Integer */
div.code pre .mo { color: #0000FF } /* Literal.Number.Oct */
div.code pre .sb { color: #0000FF } /* Literal.String.Backtick */
div.code pre .sc { color: #800080 } /* Literal.String.Char */
div.code pre .sd { color: #0000FF } /* Literal.String.Doc */
div.code pre .s2 { color: #0000FF } /* Literal.String.Double */
div.code pre .se { color: #0000FF } /* Literal.String.Escape */
div.code pre .sh { color: #0000FF } /* Literal.String.Heredoc */
div.code pre .si { color: #0000FF } /* Literal.String.Interpol */
div.code pre .sx { color: #0000FF } /* Literal.String.Other */
div.code pre .sr { color: #0000FF } /* Literal.String.Regex */
div.code pre .s1 { color: #0000FF } /* Literal.String.Single */
div.code pre .ss { color: #0000FF } /* Literal.String.Symbol */
div.code pre .il { color: #0000FF } /* Literal.Number.Integer.Long */

table.code td  { background: #ffffff; }
table.code td .c { color: #008800; font-style: italic } /* Comment */
table.code td .err { color: #a61717; background-color: #e3d2d2 } /* Error */
table.code td .k { color: #000080; font-weight: bold } /* Keyword */
table.code td .cm { color: #008800; font-style: italic } /* Comment.Multiline */
table.code td .cp { color: #008080 } /* Comment.Preproc */
table.code td .c1 { color: #008800; font-style: italic } /* Comment.Single */
table.code td .cs { color: #008800; font-weight: bold } /* Comment.Special */
table.code td .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
table.code td .ge { font-style: italic } /* Generic.Emph */
table.code td .gr { color: #aa0000 } /* Generic.Error */
table.code td .gh { color: #999999 } /* Generic.Heading */
table.code td .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
table.code td .go { color: #888888 } /* Generic.Output */
table.code td .gp { color: #555555 } /* Generic.Prompt */
table.code td .gs { font-weight: bold } /* Generic.Strong */
table.code td .gu { color: #aaaaaa } /* Generic.Subheading */
table.code td .gt { color: #aa0000 } /* Generic.Traceback */
table.code td .kc { color: #000080; font-weight: bold } /* Keyword.Constant */
table.code td .kd { color: #000080; font-weight: bold } /* Keyword.Declaration */
table.code td .kp { color: #000080; font-weight: bold } /* Keyword.Pseudo */
table.code td .kr { color: #000080; font-weight: bold } /* Keyword.Reserved */
table.code td .kt { color: #000080; font-weight: bold } /* Keyword.Type */
table.code td .m { color: #0000FF } /* Literal.Number */
table.code td .s { color: #0000FF } /* Literal.String */
table.code td .na { color: #FF0000 } /* Name.Attribute */
table.code td .nt { color: #000080; font-weight: bold } /* Name.Tag */
table.code td .ow { font-weight: bold } /* Operator.Word */
table.code td .w { color: #bbbbbb } /* Text.Whitespace */
table.code td .mf { color: #0000FF } /* Literal.Number.Float */
table.code td .mh { color: #0000FF } /* Literal.Number.Hex */
table.code td .mi { color: #0000FF } /* Literal.Number.Integer */
table.code td .mo { color: #0000FF } /* Literal.Number.Oct */
table.code td .sb { color: #0000FF } /* Literal.String.Backtick */
table.code td .sc { color: #800080 } /* Literal.String.Char */
table.code td .sd { color: #0000FF } /* Literal.String.Doc */
table.code td .s2 { color: #0000FF } /* Literal.String.Double */
table.code td .se { color: #0000FF } /* Literal.String.Escape */
table.code td .sh { color: #0000FF } /* Literal.String.Heredoc */
table.code td .si { color: #0000FF } /* Literal.String.Interpol */
table.code td .sx { color: #0000FF } /* Literal.String.Other */
table.code td .sr { color: #0000FF } /* Literal.String.Regex */
table.code td .s1 { color: #0000FF } /* Literal.String.Single */
table.code td .ss { color: #0000FF } /* Literal.String.Symbol */
table.code td .il { color: #0000FF } /* Literal.Number.Integer.Long */